@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Signika&display=swap'); */

/* botões e o header */
.spotifyheader {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d9dadc;
  padding: 20px;
}
.spotifyheader img {
  width: 195px;
  height: 58px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.logindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.facebookb,
.appleb,
.googleb,
.telefoneb {
  opacity: 1;
  border-radius: 40px;
  width: 460px;
  height: 50px;
  font-size: 21px;
}
.facebookb:hover,
.appleb:hover,
.googleb:hover,
.telefoneb:hover,
.botaoinscrever:hover {
  cursor: pointer;
  border: 1px solid black;
}
.facebookb:active,
.appleb:active,
.googleb:active,
.telefoneb:active,
#lembrar:active,
.botaoinscrever:active,
.entrar:active {
  opacity: 0.8;
  outline: 3px solid black;
  outline-offset: 2px;
}
.facebookb:focus,
.appleb:focus,
.googleb:focus,
.telefoneb:focus,
#lembrar:focus,
.botaoinscrever:focus,
.entrar:focus {
  opacity: 0.8;
  transition: 1s;
  outline: 3px solid black;
  outline-offset: 2px;
}
.facebook,
.apple,
.telefone,
.google {
  padding: 5px;
}
li {
  list-style-type: none;
}
.appleb i,
.facebookb i,
.telefoneb i,
.googleb i {
  padding-right: 7px;
}
.facebookb {
  background-color: #3f6fef;
  border: 1px solid #3259bf;
  color: white;
}
.appleb {
  color: white;
  border: 1px solid #9b9b9b;
  background-color: #131313;
}
.googleb {
  background-color: rgb(240, 240, 240);
  color: rgb(82, 40, 23);
  border: 1px solid #878787;
  padding-top: 5px;
}
.telefoneb {
  background-color: white;
  color: #686868;
  border: 1px solid #878787;
}
.ou {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.linha1 {
  margin-left: 0px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 15px;
  border-top: 2px solid rgb(217, 218, 220);
  flex: 1;
}
.linha2 {
  margin-right: 0px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 15px;
  border-top: 2px solid rgb(217, 218, 220);
  flex: 1;
}
.ou span {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 18px;
  margin-right: 18px;
}

/* parte do form */

.login2 {
  display: flex;
  margin: auto;
  justify-content: left;
  padding: 20px;
}
.formlogin {
  margin: 0;
  justify-content: left;
}
.email {
  size: 10px;
}
.username {
  size: 10px;
}

input[type='email']:hover,
input[type='text']:hover,
input[type='password']:hover {
  border: 1px solid black;
}

input[type='email'],
input[type='text'],
input[type='password'] {
  border-radius: 5px;
  border: 0.1px solid #9e9e9e;
  background-color: white;
  width: 420px;
  height: 45px;
  font-size: 16px;
  padding: 10px;
}
input[type='password'] {
  font: small-caption;
}
.endereso {
  font-size: 15px;
  margin-bottom: 10px;
}
.senha {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.esqueceusenha {
  color: #000000;
}
.esqueceusenha:hover {
  color: #00be10;
}
.lembrar {
  font-size: 16px;
  padding: 13px;
}
#lembrar {
  width: 15px;
  height: 15px;
}
.entrar {
  background-color: #1ed760;
  border: 0px black solid;
  width: 130px;
  height: 50px;
  align-items: right;
  justify-content: right;
  border-radius: 50px;
  font-size: 20px;
}
.entrard {
  align-items: right;
  justify-content: right;
  display: flex;
}
.hrnap {
  margin-right: 0;
  border-bottom: 0;
  border-left: 0;
  margin-top: 15px;
  border-top: 2px solid rgb(217, 218, 220);
}
.naotem {
  padding-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.botaoinscrever {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: white;
  color: #686868;
  border: 1px solid #686868;
  opacity: 1;
  border-radius: 40px;
  width: 420px;
  height: 50px;
  font-size: 21px;
}

/* medias */

@media screen and (max-width: 510px) {
  .facebookb,
  .appleb,
  .googleb,
  .telefoneb {
    opacity: 1;
    border-radius: 40px;
    width: 100%;
    height: 50px;
    font-size: 130%;
  }
  input[type='email'],
  input[type='password'] {
    border-radius: 5px;
    border: 0.1px solid #9e9e9e;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
    font-size: 16px;
    padding: 10px;
  }
  .formlogin {
    margin: 0;
    justify-content: center;
  }
  .endereso {
    font-size: 15px;
    margin-bottom: 10px;
    justify-content: left;
  }
  .senha {
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .esqueceusenha {
    margin-left: 10vw;
  }
  .lembrar {
    margin-left: 3vw;
  }
  #lembrar {
    margin-left: 10vw;
  }
  .login2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .bototes {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .facebookb,
  .appleb,
  .googleb,
  .telefoneb {
    font-size: 22px;
    width: 400px;
  }
  .linha1 {
    margin-left: 50px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 15px;
    border-top: 2px solid rgb(217, 218, 220);
    flex: 1;
  }
  .linha2 {
    margin-right: 50px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 15px;
    border-top: 2px solid rgb(217, 218, 220);
    flex: 1;
  }
  .ou span {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media screen and (max-width: 420px) {
  .facebookb,
  .appleb,
  .googleb,
  .telefoneb {
    width: 350px;
  }
}
@media screen and (max-width: 380px) {
  .facebookb,
  .appleb,
  .googleb,
  .telefoneb {
    width: 280px;
  }
}
@media screen and (max-width: 300px) {
  .facebookb,
  .appleb,
  .googleb,
  .telefoneb {
    width: 200px;
    font-size: 16px;
  }
}
@media screen and (max-width: 200px) {
  .facebookb,
  .appleb,
  .googleb,
  .telefoneb {
    width: 80px;
    font-size: 0px;
  }
  .facebookb i,
  .appleb i,
  .googleb i,
  .telefoneb i {
    width: 80px;
    font-size: 32px;
  }
  .spotifyheader img {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 196px;
  background-color: #000000;
  padding: 24px;
}
.sidebar .logo img {
  width: 130px;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}
.sidebar .navigation ul li {
  padding: 10px 0px;
}
.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
  color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
  font-size: 20px;
  margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
  color: #ffffff;
}
.sidebar .policies {
  position: absolute;
  bottom: 10px;
}
.sidebar .policies ul {
  list-style: none;
}
.sidebar .policies ul li {
  padding-bottom: 5px;
}
.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 14px 30px;
}
.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}
.topbar .navbar {
  display: flex;
  align-items: center;
}
.topbar .navbar ul {
  list-style: none;
}
.topbar .navbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
}
.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  color: #ffffff;
  font-size: 15px;
}
.topbar .navbar ul li.divider {
  color: #ffffff;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}
.topbar .navbar button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
  background-color: #f2f2f2;
}
.spotify-playlists {
  padding: 20px 40px;
}
.spotify-playlists h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
}
.spotify-playlists .list {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.spotify-playlists .list .item {
  min-width: 140px;
  width: 160px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover {
  background-color: #252525;
}
.spotify-playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
.spotify-playlists .list .item .play {
  position: relative;
}
.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}
.spotify-playlists .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spotify-playlists .list .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.spotify-playlists hr {
  margin: 70px 0px 0px;
  border-color: #636363;
}

.preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}
.preview h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}
.preview p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.preview button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
}

.profile {
  margin: 20px 0;
  justify-content: center;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 100%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 30% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: repeating-linear-gradient(45deg, black, transparent 100px);
  min-height: 360px;
  border-radius: 10%;
}
